<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Grapes:</strong>
  <%= @wine.grapes %>
</p>

<p>
  <strong>Type:</strong>
  <%= @wine.type %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
